{% extends view('layout') %}

{% block body %}
    <style>
        .btn-actions a {
            padding: 4px;
        }
        .icon-catalog {
            color: black;
        }
        .scroll {
            height: 300px;
            overflow-y: scroll;
        }
    </style>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        <div class="col-md-12">
            {#TODO: Gerador ficará neste bloco#}
            <div class="ibox float-e-margins">
                <div class="ibox-title">Gerador</div>
                <div class="ibox-content">
                    <div class="panel-body">
                        <div id="generator_list_form" class="col-md-12 flow-h">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content scroll" id="content-list">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            {% for number in 1..10 %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ number }}">
                                            <i class="fa fa-chevron-down"></i>
                                            Sistema {{ number }}
                                        </a>
                                        <div class="pull-right btn-actions">
                                            <a href="#">
                                                <i class="fa fa-pencil icon-catalog"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-trash icon-catalog"></i>
                                            </a>
                                        </div>
                                    </h5>
                                </div>
                                <div id="collapse{{ number }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="col-md-12 table table-bordered flow-lg">
                                            <tbody>
                                            <tr>
                                                <td colspan="4">
                                                    Cell 1
                                                </td>
                                                <td colspan="4">
                                                    Cell 2
                                                </td>
                                                <td colspan="4">
                                                    Cell 3
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Cell 4
                                                </td>
                                                <td colspan="4">
                                                    Cell 5
                                                </td>
                                                <td colspan="4">
                                                    Cell 6
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Cell 7
                                                </td>
                                                <td colspan="4">
                                                    Cell 8
                                                </td>
                                                <td colspan="4">
                                                    Cell 9
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Cell 10
                                                </td>
                                                <td colspan="4">
                                                    Cell 11
                                                </td>
                                                <td colspan="4">
                                                    Cell 12
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {% include view('helper.request') %}

    <script>
        GeneratorHandler = {
            getForm: function () {
                $.ajax({
                    url: '{{ path('generator') }}',
                    data: {source: 2},
                    complete: function (xhr) {
                        $('#generator_list_form').html(xhr.responseText)
                    }
                });
            },
            onSaveProject: function (project) {
                this.project = project;
            },

            init: function () {
                this.getForm();
            }
        };

        GeneratorHandler.init();


    </script>
{% endblock %}
