<style>
    tr[data-url-account]:hover{
        background-color: #F3F3F3;
        cursor: pointer;
    }
</style>

<table id="table_accounts" data-accounts="{{ route('accounts_ranking') }}" class="table table-bordered">
    <thead>
    <tr class="m-table-header">
        <th colspan="3">
            <h2 class="text-center">Contas</h2>
            <div class="col-md-12">
                {#<form id="accounts_filter" action="{{ route('components_stock') }}">#}
                    {#<div class="col-md-4 filters">#}
                        {#<select name="type" class="form-control">#}
                            {#<option value="">Tipo</option>#}
                            {#{% for family in families %}#}
                                {#<option value="{{ family }}">{{ family|trans }}</option>#}
                            {#{% endfor %}#}
                        {#</select>#}
                    {#</div>#}
                    {#<div class="col-md-5 filters">#}
                        {#<input name="filter" class="form-control" placeholder="Pesquisar">#}
                    {#</div>#}
                    {#<div class="col-md-3 filters">#}
                        {#<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Filtrar</button>#}
                    {#</div>#}
                {#</form>#}
            </div>
        </th>
    </tr>
    <tr class="m-table-header">
        <th>
            Nome Fantasia
        </th>
        <th class="col-md-3">
            Cnpj
        </th>
        <th>
            Email
        </th>
    </tr>
    </thead>
    <tbody id="accounts_content">
    </tbody>
</table>

<script>
    AccountsRanking = {
        url: null,
       // form: $('#accounts_filter'),
        tableAccounts: $('#table_accounts'),
        accountsContent: $('#accounts_content'),
        loadAccounts: function () {
            var url = AccountsRanking.tableAccounts.data('accounts');
            if (this.url)
                url = this.url;
            $.ajax({
                url: url,
                method: 'get',
                complete: function(xhr) {
                    AccountsRanking.accountsContent.html(xhr.responseText);
                }
            });
        },
        setUrl: function (url) {
            this.url = url;
        },
        // filter: function () {
        //     this.form.on('submit', function (event) {
        //         event.preventDefault();
        //         $.ajax({
        //             url: this.action,
        //             data: AccountsRanking.form.serialize(),
        //             complete: function (xhr) {
        //                 AccountsRanking.setUrl(this.url);
        //                 AccountsRanking.componentsContent.html(xhr.responseText);
        //             }
        //         });
        //     });
        // },
        init: function () {
          //  this.filter();
            this.loadAccounts();
        }
    };

    AccountsRanking.init();
</script>
