{% extends view('layout') %}

{% block body %}

    <style>
        .filters {
            padding-right: 3px;
            padding-left: 3px;
        }
    </style>

    {% set isPlatform = app.user.isPlatform %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">
                        <div class="row">
                            {% if isPlatform %}
                            <div class="col-md-6" id="accounts-list"></div>
                            {% endif %}

                            <div id="transactions_block" class="{{ isPlatform ? 'col-md-6' : 'col-md-12' }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if isPlatform %}
        $(' body ').toggleClass('mini-navbar');
        {% endif %}

        Ranking = {
            url: null,
            accountsBlock: $('#accounts-list'),
            transactionsBlock: $('#transactions_block'),
            listAccounts: function () {
                var url = '{{ path('list_accounts') }}';
                if (this.url)
                    url = this.url;
                $.ajax({
                    url: url,
                    method: 'get',
                    complete: function (xhr) {
                        Ranking.accountsBlock.html(xhr.responseText);
                    }
                });
            },
            setUrl: function (url) {
                this.url = url;
            },
            loadTransaction: function (urlTrans) {
                $.ajax({
                    url: urlTrans,
                    complete: function (xhr) {
                        Ranking.transactionsBlock.html(xhr.responseText);
                    }
                });
            },
            reloadContent: function () {
                Ranking.listAccounts();
                TransactionRanking.reloadBlock();
            },
            init: function () {
                this.listAccounts();
            }
        };

        Ranking.init();

        {% if not isPlatform %}
            Ranking.loadTransaction("{{ route('transaction_ranking', {id:app.user.info.account.id}) }}");
        {% endif %}

    </script>
{% endblock %}
