<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="btn-group btn-group-md">
                <button data-prop="preview" type="submit" class="btn btn-primary preview ladda-button" data-style="zoom-in">
                    <i class="fa fa-eye"></i> {{ 'Preview'|trans }}
                </button>
                <button data-prop="generate" class="btn btn-success ladda-button" data-style="zoom-in">
                    <i class="fa fa-paperclip"></i> {{ 'Generate'|trans }} {{ 'Proposal'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>