<div id="insurances_list">
</div>

<script>
    var InsurancesHandler = {
        loadInsurances: function () {
            $.ajax({
                url: '{{ path('project_insurances', {id:project.id}) }}',
                complete: function (xhr) {
                    $('#insurances_list').html(xhr.responseText);
                    {% if isProject is defined %}
                    Financial.get_taxes();
                    Financial.force_calculations();
                    {% endif %}
                }
            });
        },
        init: function(){
            this.loadInsurances();
        }
    };

    InsurancesHandler.init();
</script>
