{% extends view('layout') %}

{% block body %}
    {% set structures = pagination.items %}

<div class="wrapper wrapper-content animated fadeInRight">

        {% include view('structure.script_index') %}
        {% include view('structure.index_content') %}
</div>
{% endblock %}
