{% set projectModule = project.projectModules.first %}

<table>
    <tbody id="template_lines">
    <tr class="dist-line">
        <td class="col-md-4">
            <input placeholder="Número de Linhas" type="text" value="__lines__" class="form-control dist-line-number">
        </td>
        <td class="col-md-4">
            <input placeholder="Módulos por Linha" type="text" value="__modules__" class="form-control dist-line-module">
        </td>
        <td class="col-md-3">
            <label>
                <select class="form-control">
                    <option value="0"> Vertical</option>
                    <option value="1"> Horizontal</option>
                </select>
            </label>
        </td>
        <td class="col-md-1">
            <button class="remove-dist-line btn btn-danger">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <td colspan="3">
            <div class="btn-group btn-group-md">
                <button id="add-dist-line" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </td>
    </tr>
    </thead>
    <tbody id="dist-container">

    </tbody>
    {#{% for key, group in projectModule.groups %}

        <tr class="dist-line">
            <td class="col-md-4">
                <input placeholder="Número de Linhas" type="text" value="{{ group.lines }}" class="form-control dist-line-number">
            </td>
            <td class="col-md-4">
                <input placeholder="Módulos por Linha" type="text" value="{{ group.modules }}" class="form-control dist-line-module">
            </td>
            <td class="col-md-3">
                <select class="form-control">
                    <option value="0"> Vertical </option>
                    <option value="1"> Horizontal </option>
                </select>
            </td>
            <td class="col-md-1">
                <button class="remove-dist-line btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>

    {% endfor %}#}
</table>

<script>

    GroupManager = {
        groups: {{ projectModule.groups|json_encode|raw }},
        container: $('#dist-container'),
        template: $('#template_lines').html(),
        max_count: 401,
        getInt: function (e) {
            return parseInt(e.val());
        },
        count: function () {

            var count = 0;
            $.each(GroupManager.groups, function(i, group){
                count += (group.lines * group.modules);
            });

            return count;
        },
        refresh: function () {
            $('.remove-dist-line').on('click', function (event) {
                event.stopPropagation();
                if ($('.remove-dist-line').length > 1) {
                    GroupManager.remove($(this));
                }
            });

        },
        add: function () {
            var template = $('.dist-line').first().clone();
            var lines = template.find('.dist-line-number');
            $('#dist-container').append(template);

            GroupManager.touchspin.update(lines);

            //GroupManager.refresh();
        },
        remove: function (target) {
            var line = target.closest('.dist-line');
            line.remove();
        },
        check: function(){
            var count = GroupManager.count();
            console.log(count);
        },
        touchspin: {
            update: function (input) {
                input.trigger('touchspin.updatesettings');
            },
            lines: function (input) {
                input.TouchSpin({
                    min: 1,
                    step: 1,
                    verticalbuttons: true,
                    prefix: 'Número de Linhas'
                }).on('touchspin.on.stopspin', function () {
                    var value = parseInt($(this).val());
                    var index = $(this).closest('tr').index();
                    var current_lines = GroupManager.groups[index].lines;

                    GroupManager.groups[index].lines = value;

                    if(GroupManager.count() > GroupManager.max_count){
                        $(this).val(current_lines);
                        console.log(current_lines);
                    }
                });
            },
            modules: function (input) {
                input.TouchSpin({
                    min: 1,
                    step: 1,
                    verticalbuttons: true,
                    prefix: 'Módulos por Linha'
                }).on('touchspin.on.stopspin', function () {



                    var value = parseInt($(this).val());
                    var index = $(this).closest('tr').index();
                    GroupManager.groups[index].modules = value;
                });
            }
        },
        register: function(line){
            var lines = line.find('.dist-line-number');
            var modules = line.find('.dist-line-module');
            GroupManager.touchspin.lines(lines);
            GroupManager.touchspin.modules(modules);
        },
        render: function () {
            $.each(GroupManager.groups, function (i, group) {
                if (!group.hasOwnProperty('rendered')) {
                    var render = $(GroupManager.template
                        .replace(/__lines__/g, group.lines)
                        .replace(/__modules__/g, group.modules));

                    GroupManager.container.append(render);

                    group.rendered = true;

                    GroupManager.register(render);
                }
            });
        }
    };

    GroupManager.render();

    /*$('.dist-line-number').TouchSpin({
     min: 1,
     step: 1,
     verticalbuttons: true,
     prefix: 'Número de Linhas'
     });*/

    //$('.dist-line-module')

    //alert(GroupManager.count());
    $('#add-dist-line').on('click', function () {
        GroupManager.add();
    });

    //GroupManager.refresh();

    /*$.each($('.dist-line'), function(i, line){
     var lines = $(line).find('.dist-line-number');
     var modules = $(line).find('.dist-line-module');
     GroupManager.touchspin.lines(lines);
     GroupManager.touchspin.modules(modules)
     });*/

    //console.log(GroupManager.groups);

</script>
