.idea
app/logs/*
app/cache/*
app/sessions/
!app/logs/.gitkeep
!app/cache/.gitkeep
bin
storage
vendor
web/img
web/inspinia
web/js
web/kolinalabs
web/plugins
web/uploads
web/assets/css/main_*
web/assets/css/compiled/main_*
web/assets/css/front_*
web/assets/css/plugins_*
web/assets/js/main_*
web/assets/js/jquery_*
web/assets/js/front_*
web/assets/js/plugins_*
web/assets/js/widgets_*
web/assets/main_*
/nbproject