*.swp
.ssh
.idea
backend/app/logs/*
backend/app/cache/*
backend/app/sessions/
backend/app/config/parameters.yml
backend/app/bootstrap.php.cache
backend/storage
backend/web/public
backend/web/uploads

node_modules
vendor

.temp
.mirror
.backup
.uploads

devops/cli/stash/temp
