.idea
*.swp
.DS_Store


/static/
/dist/
/www/
/gen/
/platforms/
/plugins/
config.xml

!static/.gitkeep
!www/.gitkeep
!gen/.gitkeep
!platforms/.gitkeep
!plugins/.gitkeep

/node_modules/
package-lock.json
yarn-error.log
yarn.lock
