<div class="p-footer">
    <hr class="hr-style">
    <label class="blue-sices">SICES BRASIL LTDA</label>
    <span class="width-float-total">
        Avenida Portugal, 1174 – Condomínio Empresarial ONIX, galpão 1,2,3,4 e 5
        Itaqui, ITAPEVI – SP – 06696-060 – Brasil
    </span>
    <span class="width-float-total">
        T 0055 (11) 4193-2008
    </span>
    <span class="width-float-total color-blue">
        www.sicesbrasil.com.br - contato@sicesbrasil.com.br
    </span>
    <span class="width-float-total">
        CNPJ 17.774.501/0001-28
    </span>
</div>