<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Proforma</title>

    <link href="{{ asset('public/assets/css/main.css') }}" rel="stylesheet">
    {% include view('admin/orders/proforma/proforma_styles.html.twig') %}

</head>

<body>

<div class="container">
    <div class="row">
        {% set staticPages = 3 %}
        {% set pageNumber = 1 %}
        {% set totalPages = initialPages + staticPages %}

        {% for item in order.childrens %}
        <div class="p-leaf leaf-style">
            {% include view('admin/orders/proforma/header.html.twig') %}
            {% include view('admin/orders/proforma/system.html.twig') %}
            {% include view('admin/orders/proforma/footer.html.twig') %}
            {% set pageNumber = pageNumber + 1 %}
        </div>

        {% if item.insurance %}
        <div class="p-leaf leaf-style">
            {% include view('admin/orders/proforma/header.html.twig') %}
            {% include view('admin/orders/proforma/insurance.html.twig') %}
            {% include view('admin/orders/proforma/footer.html.twig') %}
            {% set pageNumber = pageNumber + 1 %}
        </div>
        {% endif %}
        {% endfor %}

        <div class="p-leaf leaf-style">
            {% include view('admin/orders/proforma/header.html.twig') %}
            {% include view('admin/orders/proforma/values.html.twig') %}
            {% include view('admin/orders/proforma/footer.html.twig') %}
            {% set pageNumber = pageNumber + 1 %}
        </div>

        <div class="p-leaf leaf-style">
            {% include view('admin/orders/proforma/header.html.twig') %}
            {% include view('admin/orders/proforma/term_of_accept.html.twig') %}
            {% include view('admin/orders/proforma/footer.html.twig') %}
            {% set pageNumber = pageNumber + 1 %}
        </div>

        <div class="p-leaf leaf-style">
            {% include view('admin/orders/proforma/header.html.twig') %}
            {% include view('admin/orders/proforma/insurance_certificate.html.twig') %}
            {% include view('admin/orders/proforma/footer.html.twig') %}
        </div>
    </div>
</div>

</body>

</html>
