<div class="p-body" style="height: 223mm !important;">
    <label class="width-float-total text-underline text-center"><h2>Certificado de Seguro</h2></label>

    <p>
        Os bens fornecidos, conforme constam na nota fiscal referente a proforma de <label class="no-margins">nº {{ order.reference }}</label>
        encontram-se segurados do Seguro Contra Riscos de Engenharia Processo SUSEP 15414.000736/201235
        – Instalação e Montagem da <label class="no-margins">ARGO SEGUROS S.A</label>, garantindo os equipamentos que venham a sofrer danos,
        conforme condições gerais e particulares da apólice. Confira as coberturas previstas em apólice:
    </p>

    <p>
        O prazo de cobertura do seguro é definido pelo porte do Sistema Fotovoltaico adquirido, confira
        o prazo de montagem e instalação previsto por cada faixa de potência, na tabela abaixo.
    </p>

    <div class="text-center">
        Confira as coberturas previstas em apólice:
        <a href="#" class="color-blue text-underline">Clique Aqui</a>
    </div>

    <table class="width-total spacing">
        <thead>
        <tr class="back-black">
            <th class="color-white">
                Faixa de Potência dos Sistemas FV Sices Brasil
            </th>
            <th class="color-white">
                Prazo de instalação a partir NF-e Sices Brasil
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>
                Sistemas FV de 1kWp até 20kWp
            </td>
            <td>
                45 dias a partir da emissão da Nota Fiscal
            </td>
        </tr>
        <tr class="text-center">
            <td>
                Sistemas FV de 20,1kWp até 60kWp
            </td>
            <td>
                75 dias a partir da emissão da Nota Fiscal
            </td>
        </tr>
        <tr class="text-center">
            <td>
                Sistemas FV de 60,1kWp até 100kWp
            </td>
            <td>
                105 dias a partir da emissão da Nota Fiscal
            </td>
        </tr>
        <tr class="text-center">
            <td>
                Sistemas FV de 101kWp até 500kWp
            </td>
            <td>
                135 dias a partir da emissão da Nota Fiscal
            </td>
        </tr>
        </tbody>
    </table>

    <p>
        O Seguro indenizará as perdas correspondentes aos valores constantes da Nota Fiscal e efetuará
        a dedução do valor da <label class="no-margins">Franquia</label> que corresponde a <label class="no-margins">R$1.200,00</label>
        ou <label class="no-margins">15%</label> do valor do equipamento por evento o que for maior.
    </p>

    <p class="text-underline bold">
        Em caso de acidentes que ocorram durante a instalação o Instalador deverá comunicar
        imediatamente a Seguradora através do telefone da Central de Atendimento:
    </p>

    <label class="indentation">- Grande São Paulo - (11) 5646-6000 </label>

    <p>
        <label>Na sequência enviando e e-mail com título</label>: Sinistro Riscos de Engenharia SICES-ARGO Nota Fiscal numero XXX?
    </p>

    <label class="width-float-total indentation">Descrevendo a data da ocorrência e fatos relacionados ao acidente. </label>
    <label class="indentation">E-mail:</label> <span class="color-blue">atendimento@umbriaprivate.com.br</span>

    <div style="margin-top: 30px;">
        <div width="50%" style="float: left; padding-left: 50px">
            <img width="300"  alt="image" src="{{ asset('assets/images/argo.png') }}">
        </div>
        <div width="50%" style="float: left; padding-left: 30px">
            <img width="200"  alt="image" src="{{ asset('assets/images/umbria.png') }}">
        </div>
    </div>
</div>