{% extends view('layout') %}

{% block body %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="row" id="real-content">
            <div class="col-md-12">
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">

                        {{ form_start(form) }}

                            {{ form_widget(form) }}

                            <button type="submit">
                                Filtrar
                            </button>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
