{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<h3 class="block-title">
    Recuperar senha de acesso
</h3>
<div class="alert alert-warning">
    {{ 'resetting.password_already_requested'|trans }}
</div>

{% endblock fos_user_content %}
