#myGrid{
    width: 21cm;
    background-color: white;
    padding: 2.3cm;
}
.sidebar-tags{
    margin-top: 30px;
    float: right;
    right: 0;
    position: fixed;
}
.ge-layout-mode{
    display: none;
}
.ge-top, .ge-fixed{
    background-color: #f7f7f7;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
li{
    list-style: none;
}