<table class="width-total" border="0" cellpadding="5" cellspacing="0">
    {% if order.total != order.totalExcDiscount and order.discount > 0 %}
        <tr class="line-info info-extra">
            <th width="40%" align="left">
                DESCONTO COMERCIAL
            </th>
            <th align="left">
                -{{ order.discount|currency }}
            </th>
        </tr>
    {% endif %}
    {% if order.coupon %}
        <tr class="line-info info-extra">
            <th width="40%" align="left">
                CUPOM DE DESCONTO
            </th>
            <th align="left">
                -{{ order.coupon.amount|currency }}
            </th>
        </tr>
    {% endif %}
</table>
