{% if 'self' != order.shippingRules.type %}

    <table class="width-total" border="0" cellpadding="5" cellspacing="0">
        <tr class="line-info info-extra">
            <th width="40%" align="left">
                Frete
            </th>
            <th align="left">
                {{ 'sices' == order.shippingRules.type ? order.shipping|currency : "INCLUSO" }}
            </th>
        </tr>
    </table>

{% endif %}
