<table class="width-total info">

    <tr>
        <td colspan="3"> &nbsp; </td>
    </tr>

    {% if item.insurance %}
        <tr class="line-info">
            <th class="position">
                Valor do Seguro
            </th>
            <th class="position">
                {{ item.insurance|currency }}
            </th>
        </tr>
    {% endif %}

    <tr class="line-info">
        <th class="item-size position">
            Valor Total do Sistema
        </th>
        <th class="position">
            {{ item.total|currency }}
        </th>
    </tr>

    <tr>
        <td colspan="3"> &nbsp; </td>
    </tr>

</table>
