{% extends ('orders/emails/layout.html.twig') %}
{% block body %}
<tr>
    <td class="content-block">
        <p>
            Prezado {{ order.account.owner.firstname }},
        </p>
        <p>
            Você aprovou o orçamento nº {{ order.reference }}.
        </p>
        <p>
            Segue em anexo a pró-forma da solicitação.
        </p>
    </td>
</tr>
<tr>
    <td class="content-block">
        <h4>AVISOS IMPORTANTES</h4>
        <p>
            1 - Faça o upload do comprovante de pagamento (conforme pró-forma) na Plataforma.
            Isso irá agilizar o processo de identificação e separação de seu pedido.
            Sua solicitação somente será processada mediante confirmação de pagamento.
        </p>
        <p>
            2 - Caso não tenha cotado frete conosco, é imprescindível inserir na Plataforma
            os dados cadastrais da transportadora que realizará a coleta.
        </p>
    </td>
</tr>

<tr>
    <td class="content-block">

        <p> Verifique abaixo como proceder para informar os dados: </p>

        <p>
            <img alt="Sices Solar" class="img-responsive" src="{{ app.request.schemeAndHttpHost }}{{ asset('assets/images/order_approved_guide.png') }}"/>
        </p>

        <p>
            Obrigado.
        </p>
    </td>
</tr>
{% endblock %}
