{% extends ('orders/emails/layout.html.twig') %}
{% block body %}
<tr>
    <td class="content-block">

        <p>
            Prezado {{ order.contact }},
        </p>
        <p>
            O orçamento nº {{ order.reference }} foi <strong>VALIDADO</strong>.
        </p>
        <p>
            Para prosseguir com a negociação, pedimos que acesse nossa Plataforma para <strong>APROVAR</strong> seu pedido.
        </p>
    </td>
</tr>
<tr>
    <td class="content-block">
        {% for item in order.childrens %}
            <p>
            <h4 class="text-center">{{ item.description }}</h4>

            {% include 'orders/emails/_items.html.twig' %}

            {% include 'orders/emails/_totals.html.twig' %}

        {% endfor %}

        {% include 'orders/emails/_shipping.html.twig' %}

        {% include 'orders/emails/_total.html.twig' %}

    </td>
</tr>

<tr>
    <td class="content-block">
        <p>
            Obrigado.
        </p>
    </td>
</tr>
{% endblock %}
