
{% if project_module.module is null %}
<div class="col-md-12">
    <div class="alert alert-danger">
        É necessário selecionar um módulo e salvar a área para visualizar estes dados
    </div>
</div>  
{% endif %}