<table border="1" style="width: 100%;">
    <tr>
        <td style="width:50%">
            <img style="height: 95px; " src="{{ logo }}">
        </td>
        <td style="text-align: right;">
            Rua Pastor José Ferreira da Silva, 21, Sala 305, Bessa <br>
            João Pessoa - PB. CEP: 58035-160 <br>
            Tel: (83) 3185-6200 <br>
            contato@sunconnect.com.br <br>
            www.sunconnect.com.br <br>
            CNPJ: 23.050.229/0001-36
        </td>
    </tr>
</table>