{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} Verificação de Email {% endblock %}

{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% if account %}
        <style>
            .middle-box {
                min-width: 70%;
            }
        </style>

        <h2>Prezado {{ account.owner.firstname }}, </h2>
        <p style="font-size: 18px;">
            O registro da empresa <strong> {{ account.firstname }} </strong> encontra-se em análise. <br>
            Você receberá uma mensagem no email <strong> {{ account.owner.email }} </strong> assim que os dados forem confirmados.
        </p>

        <p>
            <a href="{{ path('fos_user_security_login') }}">
                Voltar para o início
            </a>
        </p>

    {% else %}

        <h2> Desculpe, não há dados aqui para você. </h2>

    {% endif %}

{% endblock fos_user_content %}
