{% extends view('layout') %}

{% block body %}

    <style>
        #generator_container,
        #generator_container li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
    </style>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">

                            <div id="generator_forms" class="col-md-12">
                                Sistemas aqui...
                            </div>

                            <div class="col-md-12">
                                <button id="btn-get-form" class="btn btn-success">
                                    <i class="fa fa-plus"></i> Sistema
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.request') %}

    <script>

        var ProjectGenerator = {
            register: function(form){
                console.log(form);
            }
        };

        $('#btn-get-form').on('click', function(){

            Request.send({
                url: '{{ path('project_generator_form') }}',
                callback: function(xhr){
                    $('#generator_forms').append(xhr.responseText);
                }
            });

        });


    </script>

{% endblock %}