{% extends view('layout') %}

{% block body %}

    <style>
        #generator_container,
        #generator_container li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
    </style>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">

                            <div id="generator_forms" class="col-md-12">
                                Sistemas aqui...
                            </div>

                            <div class="col-md-12">
                                <button id="btn-get-form" class="btn btn-success">
                                    <i class="fa fa-plus"></i> Sistema
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.request') %}

    <script>


        var ProjectGenerator = {
            register: function(form){
                console.log(form);
            }
        };

        /*var generator_projects = $('#generator_projects');
        var prototype = generator_projects.data('prototype');
        var container = $('#generator_container');

        $('#generator_start').on('submit', function(event){
            event.preventDefault();
            var number = parseInt($('#generate_number').val());
            if(number > 0){

                var childrens = container.find('li');
                var index = childrens.length;

                var item = $('<li>' + prototype.replace(/__name__/g, index) + '</li>');
                var item_id = '#generator_projects_' + index;

                container.append(item);

                var item_container = $(item_id);

                //item_container.closest('div').find('label').remove();

                $.each(item_container.find('div'), function(i, e){
                    $(e).addClass('col-md-2');
                    $(e).find('input, select').addClass('form-control');
                });

                //console.log(prototype);
                /*Request.send({
                    data: {number:number},
                    callback: function(xhr){
                        $('#generator_forms').html(xhr.responseText);
                    }
                });*
            }
        });*/

        $('#btn-get-form').on('click', function(){

            Request.send({
                url: '{{ path('project_generator_form') }}',
                callback: function(xhr){
                    $('#generator_forms').append(xhr.responseText);
                }
            });

        });


    </script>

{% endblock %}