<table class="table table-bordered table-hover">
    {% for key, value in tagsList %}
        <thead>
            <tr>
                <th class="text-center" colspan="5">{{ key|upper }}</th>
            </tr>
            <tr>
                <th class="col-md-4"><i class="fa fa-sort-desc"></i> Nome da Tag </th>
                <th class="col-md-8"><i class="fa fa-sort-desc"></i> Descrição da Tag </th>
            </tr>
        </thead>
        <tbody>
            {% for item in value.itens %}
                <tr>
                    <td>{{ item.tag }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% endfor %}
</table>
