<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="JACKSON CHIROLLO">
    <META NAME="CREATED" CONTENT="20170412;132300000000000">
    <META NAME="CHANGEDBY" CONTENT="Jackson Chirollo">
    <META NAME="CHANGED" CONTENT="20170412;132400000000000">
    <META NAME="AppVersion" CONTENT="15.0000">
    <META NAME="Company" CONTENT="S.I.C.E.S. S.R.L.">
    <META NAME="DocSecurity" CONTENT="0">
    <META NAME="HyperlinksChanged" CONTENT="false">
    <META NAME="LinksUpToDate" CONTENT="false">
    <META NAME="ScaleCrop" CONTENT="false">
    <META NAME="ShareDoc" CONTENT="false">
    <STYLE TYPE="text/css">
        <!--
        @page { margin-left: 0.59in; margin-right: 0.59in; margin-top: 0.28in; margin-bottom: 0.18in }
        P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
        P.western { font-family: "Times New Roman", serif }
        P.cjk { font-family: "Times New Roman" }
        H1 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: center; widows: 2; orphans: 2 }
        H1.western { font-family: "Tahoma", serif; font-size: 18pt; font-weight: normal }
        H1.cjk { font-family: "Times New Roman"; font-size: 18pt; font-weight: normal }
        H1.ctl { font-size: 10pt; font-weight: normal }
        A:link { color: #0000ff; so-language: zxx }
        -->
    </STYLE>
</HEAD>
<BODY LANG="it-IT" LINK="#0000ff" DIR="LTR">
<DIV TYPE=HEADER>
    <P STYLE="margin-bottom: 0in">
        <img src="{{ asset('assets/images/sices_header.jpg') }}" NAME="Imagem 2" ALIGN=BOTTOM WIDTH=236 HEIGHT=60 BORDER=0>
    <P STYLE="margin-bottom: 1.16in"><BR>
    </P>
</DIV>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<H1 CLASS="western"><FONT FACE="Arial, serif"><FONT SIZE=6 STYLE="font-size: 28pt"><SPAN LANG="pt-BR"><U><B>CONDIÇÕES
GERAIS DE </B></U></SPAN></FONT></FONT>
</H1>
<H1 CLASS="western"><FONT FACE="Arial, serif"><FONT SIZE=6 STYLE="font-size: 28pt"><SPAN LANG="pt-BR"><U><B>VENDAS
E GARANTIAS </B></U></SPAN></FONT></FONT>
</H1>
<H1 CLASS="western"><FONT FACE="Arial, serif"><FONT SIZE=6 STYLE="font-size: 28pt"><SPAN LANG="pt-BR"><U><B>DE
EQUIPAMENTOS</B></U></SPAN></FONT></FONT></H1>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
    <BR>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
    <BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
    <img src="{{ asset('assets/images/sices_header.jpg') }}" NAME="Imagem 4" ALIGN=BOTTOM WIDTH=680 HEIGHT=174 BORDER=0>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
    <BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.07in; margin-bottom: 0.01in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>CAPÍTULO
I</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.07in; margin-right: 0.06in; text-indent: -0.01in; margin-bottom: 0.01in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>PRINCÍPIOS
BÁSICOS</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0.25in">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">A
Satisfação do </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
é nosso principal objetivo e para atingi-lo acreditamos no
compromisso de ótima parceria, confiabilidade e respeito mútuo. Uma
parcela significativa deste processo é a busca da mais alta
qualidade com o menor custo para nossos </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Clientes.</B></SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0.25in">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">O
desenvolvimento de um relacionamento forte, baseado na confiança e
cooperação certamente traz benefícios mútuos e melhoria contínua
em nossos processos.</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0.25in">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">A
filosofia de atender bem ao cliente e colocar no mercado produtos de
alta qualidade e que não agridam ao meio ambiente, são uma de
nossas maiores preocupações. Inovação tecnológica integrada à
preservação ambiental é compromisso permanente da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.07in; text-indent: -0.01in; margin-bottom: 0.01in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>CAPÍTULO
II</B></SPAN></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.07in; margin-right: 0.06in; text-indent: -0.01in; margin-bottom: 0.01in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>CONDIÇÕES
Gerais de Venda</B></SPAN></FONT></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.07in; margin-right: 0.06in; text-indent: -0.01in; margin-bottom: 0.01in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0in; line-height: 94%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Estas
Condições Gerais de Vendas são as únicas aplicáveis aos pedidos
de compra por parte dos Clientes à </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e excluem expressamente a aplicabilidade de quaisquer outras
condições apresentadas pelo Cliente, permanecendo em vigência os
acordos pré-existentes desde que assim definido pelas partes.
Alterações e aditamentos, bem como condições de compra do </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
só serão respeitados mediante acordo por escrito.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0in; line-height: 94%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">O
Cliente não poderá, sob nenhuma hipótese, alegar desconhecimento
destas Condições Gerais de Vendas e, uma vez assinado o Pedido de
Venda, declara expressamente concordar com as normas aqui
estipuladas.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0in">
    <FONT FACE="Arial, serif"><SPAN LANG="pt-BR">A relação jurídica
aqui pactuada entre a </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e o </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
é a de fornecedor e comprador, não sendo uma parte representante,
agente, distribuidor, mandatário, comissário, associado, sócio ou
empregado da outra, sob pretexto algum.</SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0in; line-height: 94%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Subsidiárias,
companhias associadas e outras, no Brasil ou no exterior, em que a
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
tenha participação societária, regem-se pelas mesmas condições
ora determinadas.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.24in; margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.24in; margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000">
    </FONT><BR>
</P>
<OL>
    <LI><P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 94%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>Orçamentos,
	preços, faturamentos e pagamentos</B></SPAN></FONT></FONT></FONT></P>
</OL>
<P LANG="pt-BR" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 94%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.1.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="pt-BR"><B>	</B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Para
emissão de proposta comercial (PROFORMA) e processamento de pedido
de compra, o Cliente deverá preencher o formulário de ficha
cadastral da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar </B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">e/ou
encaminhar sua própria ficha cadastral informando Razão Social,
CNPJ, Inscrição Estadual, endereço completo, contatos do
departamento administrativo e financeiro. </SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 94%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.2.
	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Os
preços e modalidades de pagamentos serão informados pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
através apresentação na (PROFORMA) com validade entre 5 (cinco) e
de máximo 10 (dez) dias, na qual estarão presentes todos os
detalhes de fornecimento para o PRODUTO solicitado. </SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 94%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.3.
	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">O
valor total apresentado na proposta comercial será em moeda corrente
(Real), já incluídos todos os custos diretos e indiretos da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
tais como materiais, embalagens, administração, impostos, taxas,
encargos trabalhistas / sociais / fiscais, municipais, estaduais e
federais, ficando excluídos os custos de frete rodoviário/aéreo
nacional.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.4.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Os
pedidos serão aceitos pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e processados,</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">mediante</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">confirmação
da proposta comercial (PROFORMA) assinada pelo </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e que será encaminhada à </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
por correio eletrônico. </SPAN></FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.5.	</B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B><SPAN STYLE="background: #ffff00">Os
pedidos aceitos pela Sices Solar para sua produção e posterior
expedição, que contemplam pagamento integral antecipado ou sinal
antes do faturamento, caso não seja efetuado em até 3 dias úteis
da data prevista na PROFORMA, o mesmo será CANCELADO.</SPAN></B></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.6.	</B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B><SPAN STYLE="background: #ffff00">Caso
após a confirmação do pedido de compra e aceite da PROFORMA e
venham solicitadas revisões alterações durante o processo de
separação, NÃO será possível atender os prazos de
disponibilidade/coleta previstos na PROFORMA e o processo será
reiniciado com novo prazo de disponibilidade/coleta.</SPAN></B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
 </B></SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.7.	</B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B><SPAN STYLE="background: #ffff00">As
devoluções serão aceitas no prazos máximo de 7 (sete) dias uteis
da emissão da nota Fiscal, cabendo as custas de transportes de
devolução por conta do CLIENTE. Comprovada a idoneidade dos
equipamentos devolvido será concedido CREDITO para futuras compras a
serem realizadas em um prazo de 12 meses.  Sob nenhuma hipótese será
realizada devoluções de pagamentos já efetuados.</SPAN></B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.8.		</B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B><SPAN STYLE="background: #ffff00">Somente
serão aceitas trocas de produtos com as devidas Notas Fiscais
corretamente emitidas e que a compra esteja no prazo de 30 (trinta)
dias corridos.</SPAN></B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>1.9.
	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Fica
terminantemente vedado ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
ceder, transferir ou transacionar a terceiros os direitos e
obrigações decorrentes dos pedidos em processamento pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
confirmados pelo </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
entendendo-se como cessão ou transferência.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.0.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">No
caso de compra para revenda ou quando o </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
for DISTRIBUIDOR, a propriedade dos PRODUTOS passa da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente
</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">e
posteriormente, ao terceiro adquirente. Ou seja, o Cliente vende um
PRODUTO de sua propriedade e não apenas, realiza uma mera
intermediação entre </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e o Cliente Final, ficando assim excluso, quaisquer pagamentos a
título de comissões por parte da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente,
</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">além
de que, ficará sob responsabilidade do </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente
</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">todo
o suporte técnico, serviço de pós-venda e instalação dos
PRODUTOS junto ao cliente final. </SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.69in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.1.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	</SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">O
faturamento será feito pela </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
nas datas estipuladas no Pedido de Venda. A data de vencimento,
conforme acordada antecipadamente, será informada na nota fiscal
emitida pela </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
para o </SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e deverá ser cumprida sob pena de fornecimentos subsequentes serem
interrompidos. Qualquer prorrogação na data de vencimento deverá
ser acordada e autorizada por escrito pela </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
que se reserva o direito de negar prorrogações a seu critério. As
notas fiscais serão emitidas pela </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
com os impostos previstos na legislação em vigor incluídos.
Alterações na legislação ocorridas após a assinatura do Pedido
de Venda que acarretem mudança na tributação das Mercadorias da
</SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
terão seus efeitos refletidos nos preços quando do faturamento.</SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.69in; margin-bottom: 0in">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.69in; margin-bottom: 0in">
    <FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.2.</B></SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
	A data efetiva de pagamento será considerada a data na qual a
transferência de fundos for creditada na conta da </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
(ou em conta determinada pela </SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">)
ou quando o pagamento for realizado mediante documento de cobrança
bancária. </SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U>O
não pagamento de faturas nas suas respectivas datas de vencimento
implicará em multa moratória de 10% e juros de 1% ao mês mais Taxa
Selic, cobrados até a data do efetivo pagamento.</U></SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: 0.3in; margin-bottom: 0in; line-height: 107%">
    <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.3.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Caso
seja solicitado prazo para pagamento dos PRODUTOS, o </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
deverá apresentar documentação econômico financeira que comprove
sua capacidade de solver o financiamento e que serão solicitadas
para análise pelo administrativo da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e mutuamente acordados, para que a </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
possa avaliar o montante e demais condições da linha de credito que
poderá ser concedida ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
na qual a </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
comunicará ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
por escrito, as condições de utilização, valores envolvidos,
prazos e demais condições da mesma. </SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0.01in; line-height: 107%">
    <BR><BR>
</P>
<OL START=2>
    <LI><P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>Entrega
	e disponibilidade dos PRODUTOS</B></SPAN></FONT></FONT></FONT></P>
</OL>
<P LANG="pt-BR" STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.1</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	Uma
vez aceito pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
o pedido encaminhado pelo </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
a </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
entregará os PRODUTOS de acordo com os pedidos efetuados pelo
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
dentro do prazo de entrega acordado pelas partes e garantir a
qualidade e mercantilidade dos PRODUTOS.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.2.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	O
prazo de entrega será informado regularmente pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
na proposta comercial (PROFORMA), contendo todos os detalhes de
fornecimento.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.3.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	A
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
poderá deixar de entregar os PRODUTOS ou disponibilizar os PRODUTOS
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><SPAN STYLE="background: #ffff00">nos
prazos definidos</SPAN></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
em caso de greves, acidentes, perturbações de ordem pública,
imposições governamentais, caso fortuito ou força maior de acordo
com o art. 393 do Código Civil, que a impeçam efetivamente de
entregar ou disponibilizar os produtos, </SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><SPAN STYLE="background: #ffff00">mas
sem quaisquer limitações a: situações de calamidades de natureza,
guerra, proibições de importações, disposições do poder
público, tais como, mas não se limitando a, indeferimentos de
Licença de Importação – LI e atrasos causados em decorrência de
demora na análise do processo de importação ou desembaraços
aduaneiros por parte das autoridades fiscais/aduaneiras, incêndios,
greves, sabotagem, interrupção anormal da produção, interrupção
anormal do fornecimento de energia elétrica, agitações ou tumultos
civis, terremotos ou quaisquer outros fatos e/ou atos fora de
controle razoável, o prazo para cumprimento da obrigação deverá
ser prorrogado por período igual ao tempo de duração do evento que
houver dado causa à força maior ou ao caso fortuito, </SPAN></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><SPAN STYLE="background: #ffff00">sem
que tal fato a sujeite a qualquer penalidade nos pedidos de vendas ou
contratos de fornecimentos.</SPAN></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">E,
também, se o </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
estiver, perante a </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
com débito vencido e não pago.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.4.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	A
logística e transportes para entrega dos PRODUTOS ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
poderá ser gerenciado pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.
Estão excluídas do valor de venda, os custos de transportes
rodoviários nacionais, ficando por conta do </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
arcar com os custos de transportes.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.4.1.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Caso
o transporte seja gerenciado pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
a mesma se obriga a tomar todas as medidas necessárias para realizar
o transporte adequado dos PRODUTOS por todos os meios apropriados,
bem como a utilizar todos os equipamentos e acessórios adequados,
com a assistência de prepostos ou subcontratados competentes e
confiáveis, sempre que necessário.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>2.4.2.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	O
Cliente deve verificar a idoneidade dos PRODUTOS no ato de entrega e
em caso de avarias dos PRODUTOS durante o frete de entrega contratado
pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
para efetivação de ressarcimento, o Cliente NÃO deverá aceitar os
PRODUTOS, e </SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">posteriormente</SPAN></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
preencher o formulário especifico para solicitação de
ressarcimento e/ou reenvio dos PRODUTOS, contendo todas as
informações da operação, fotos dos PRODUTOS danificados e
comprovante de notificação junto a transportadora no ato da
entrega. </SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<OL START=3>
    <LI><P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>Das
	Garantias</B></SPAN></FONT></FONT></FONT></P>
</OL>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>3.1.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="pt-BR"><B>	</B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">A
garantia dos PRODUTOS passa a valer a partir da data de emissão da
Nota Fiscal eletrônica e seu prazo de validade é apresentado na
proposta comercial (PROFORMA) e/ou ficha técnica do PRODUTO.
Ressaltando o prazo de atendimento pela Sices Solar em caso de
garantia e no vencimento o atendimento será diretamente pelo
fabricante.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>3.2.	</B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>	</B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B><SPAN STYLE="background: #ffff00">Em
caso de equipamentos em garantia e que por determinado período não
funcionou, em nenhuma hipótese a Sices Solar responderá por perda
de produção, perda de lucro, perda de receita, perda de dados,
lucros cessantes, multa de poder concedente, danos indiretos e danos
consequentes perante o comprador.</SPAN></B></SPAN></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>3.3.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	Caso
se verifique algum defeito no PRODUTO, dentro do prazo de garantia e
que seja de responsabilidade da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
está a seu critério:</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<UL>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">reparará
	o defeito em sua sede ou no próprio local;</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Disponibilizará
	um PRODUTO de reposição ou um PRODUTO novo equivalente; </SPAN></FONT></FONT>
        </P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Ou
	solicitará que o PRODUTO seja enviado para reparo em empresa
	parceira qualificada ao serviço de assistência técnica da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
	Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.
	</SPAN></FONT></FONT>
        </P>
</UL>
<P LANG="pt-BR" STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>3.4.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Para
a</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">solicitação
de garantia, será necessária a apresentação da nota fiscal de
compra, o número de série do aparelho. Em caso de PRODUTOS já
estarem instalados junto ao cliente final, o mesmo deverá entrar em
contato com o DISTRIBUIDOR/INTEGRADOR que realizou a venda do
PRODUTO, que por sua vez fará contato com a </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.
 Sob nenhuma hipótese a Sices Solar realizará contato com
consumidor final, intermediação ou intervenção sem previamente
acordado com o DISTRIBUIDOR/INTEGRADOR. </SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>3.5.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Em
caso de intervenção presencial por técnico da</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>
Sices Solar, </B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">não
estão cobertas pela garantia as despesas de deslocamentos, estadia,
montagem e instalação no local quando estas ultrapassarem os 50 km
da Sede da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar.</B></SPAN></FONT></FONT></P>
<P LANG="pt-BR" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>3.6.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">A
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>garantia
não cobre</B></U></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
os custos de frete de envio e reenvio dos </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>PRODUTOS</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
para reparo ou analise em nas instalações da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar. Porém, nos casos em que forem comprovados defeitos de
fabricação do PRODUTO, as despesas de transporte de devolução
serão pagas pela Sices Solar. </B></SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.73in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>3.7.
	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">A
garantia não abrange a utilização incorreta dos PRODUTOS, se forem
danificados por mal-uso ou/e ERROS de projeto, dimensionamento,
montagem física, instalações elétricas, parametrização
incorreta, manutenção ou armazenagem inadequada ou qualquer outro
defeito causado por ações externas do Usuário. </SPAN></FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Procedimentos
para envio dos PRODUTOS:</B></U></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Antes
de enviar o PRODUTO para a assistência técnica, verifique se o
defeito é no próprio PRODUTO ou se existem problemas na instalação
ou fontes de alimentação. No caso de dúvidas, você poderá também
contatar o Suporte técnico Sices Solar através dos contatos abaixo:</B></U></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in; border: 1px solid #00000a; padding: 0.01in 0.06in">
    <FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Suporte Técnico em
campo durante instalação:</B></SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-left: 0.1in; margin-bottom: 0in">
    <BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Gerardo
Guerreiro </B></SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>E-mail:
</B></SPAN></FONT><A HREF="mailto:tecnico1@sicesrasil.com.br"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">tecnico1@sicesrasil.com.br</SPAN></FONT></FONT></A><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
</SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Telefone:
(11) 97500-3114</SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Fabiano
Passos</B></SPAN></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>E-mail:
</B></SPAN></FONT><A HREF="mailto:fabiano.passos@sicesbrasil.com.br"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">fabiano.passos@sicesbrasil.com.br</SPAN></FONT></FONT></A><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U>
</U></SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Telefone:
(11) 95051-4641</SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in; border: 1px solid #00000a; padding: 0.01in 0.06in">
    <FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Suporte Técnico e
responsável Inversores:</B></SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Kauê
Vinicius</B></SPAN></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>E-mail:
</B></SPAN></FONT><A HREF="mailto:inversores@sicesrasil.com.br"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">inversores@sicesrasil.com.br</SPAN></FONT></FONT></A><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
</SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Telefone:
(11) 97539-0930</SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Caso,
que esteja certo que o PRODUTO está com defeito, leia atentamente as
condições de envio a seguir para que possamos proporcionar um
atendimento mais ágil:</B></U></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<OL>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Todo
	o PRODUTO encaminhado para a assistência técnica deverá ser
	enviado com o frete pago, pois caso contrário não será recebido. </B></U></SPAN></FONT></FONT>
        </P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Todo
	PRODUTO encaminhado para a assistência técnica deverá estar
	acompanhado do formulário de assistência técnica e nota fiscal,
	previamente aprovada pelo departamento fiscal da Sices Solar.</B></U></SPAN></FONT></FONT></P>
</OL>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Os
PRODUTOS deverão estar devidamente embalados e acondicionados afim
de se evitar problemas no transporte, tais como: absorção de
umidade, quebra, etc.</B></U></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Não
será considerada responsabilidade da Sices Brasil os seguintes
defeitos em particular:</B></U></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="text-indent: 0.25in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<UL>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Descumprimento
	do manual de instruções, do manual de instalação ou das
	instruções de manutenção.</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Instalação
	inadequada</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Transporte
	inadequado</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Operação
	inadequada ou abusiva</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Ventilação
	do aparelho insuficiente (sobretemperaturas)</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Intervenções
	no aparelho por empresas ou pessoas que não foram autorizadas pela
	</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
	Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Descumprimento
	das normas de segurança e de instalação.</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Motivos
	de força maior (tempestades, relâmpagos, sobre-tensão, incêndio,
	etc.), de acordo com o art. 393 do Código Civil</SPAN></FONT></FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Qualquer
	outro defeito que não seja classificado como defeito de fabricação.</SPAN></FONT></FONT></P>
</UL>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><B>Para
maiores informações dos procedimentos necessários para troca em
garantia, contatar nosso departamento de pós-venda através dos
contatos abaixo:</B></U></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in; border: 1px solid #00000a; padding: 0.01in 0.06in">
    <FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Pós-Venda e
Garantias Sices Solar:</B></SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-left: 0.1in; margin-bottom: 0in">
    <BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Jéssica
Pedroso Santos</B></SPAN></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>E-mail:
</B></SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><A HREF="mailto:pos.venda@sicesbrasil.com.br">pos.venda@sicesbrasil.com.br</A>
</U></SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Telefone:
(11) 94331-3181</SPAN></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Telefone
direto: (11) 31816030   </SPAN></FONT>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Maura
Rodrigues</B></SPAN></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>E-mail:
</B></SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><U><A HREF="mailto:pos.venda1@sicesbrasil.com.br">pos.venda1@sicesbrasil.com.br</A>
</U></SPAN></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Telefone:
(11) 94331-3181</SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<OL START=4>
    <LI><P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=3><SPAN LANG="pt-BR"><B>Disposições
	Gerais</B></SPAN></FONT></FONT></FONT></P>
</OL>
<P LANG="pt-BR" CLASS="western" STYLE="margin-left: 0.25in; margin-bottom: 0in">
    <BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.1</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="pt-BR"><B>.	</B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Para
fornecimento de </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Controladores
microprocessados e Painéis de Potência e Automação</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
o </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
reconhece que todos os direitos de propriedade industrial sobre os
PRODUTOS fornecidos pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
(tais como patentes de tecnologia e certificações, etc.) pertencem
exclusivamente a </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e que, apesar de todas as alterações especiais necessárias pedidas
pelo </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
sobre os PRODUTOS (cores e/ou tamanhos) fazem parte da normal linha
de produção da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar.</B></SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.2.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Em
caso de eventuais disputas sobre a violação da propriedade
industrial dos PRODUTOS fornecidos pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
ou reprodução dos mesmos, fica por conta do </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
arcar com os custos para provar a não violação da propriedade
industrial do ponto </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.1.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
</SPAN></FONT></FONT>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.3.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Para
fornecimento dos </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>módulos
fotovoltaicos</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
representados pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
os PRODUTOS estão autorizados para o uso da Etiqueta Nacional de
Conservação de Energia – ENCE, recebida através do Registro do
produto no Inmetro, sendo pré-requisito obrigatório para a
comercialização dos produtos no País, conforme os requisitos
estabelecidos na Resolução Conmetro nº 05, de 06 de maio de 2008 e
complementados pela RAC - PORTARIA INMETRO Nº 004/ 2011.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.4.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Para
o fornecimento de </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sistema
Fotovoltaico (somente equipamentos)</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
dimensionado pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
conforme altos padrões de qualidade, elevados desempenhos e normas
internacionais. A </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
se responsabiliza pelos Certificados, Garantias, Conformidade dos
mesmos e Etiquetagem PBE nacional </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>COMPULSORIA</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
para os Módulos Fotovoltaicos e Inversores Solares DC/AC.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.5.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">O
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
não pode revelar a terceiros não envolvidos diretamente em
negociação entre as partes, documentos de projetos preliminares de
PRODUTOS a serem desenvolvidos pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e/ou qualquer informação ou documento que tenha sido
disponibilizado pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
para avaliação técnica dos PRODUTOS por parte do </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.
Todos os desenhos, especificações, modelos, amostras, dados e
quaisquer outras informações fornecidas pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
ao </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
e todos os direitos patrimoniais e autorais sobre os mesmos são de
propriedade exclusiva da </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.
Quando a informação fornecida pela </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
não for mais necessária para o </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
este deve prontamente providenciar sua devolução à </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">,
por sua conta e risco. Qualquer violação ao disposto por parte do
Cliente, importa em suspensão imediata do fornecimento dos PRODUTOS,
sem prejuízo das penalidades cabíveis por Lei.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.49in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.6.	</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">A
</SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Sices
Solar</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
é a única autorizada e responsável a fazer publicidade dos seus
PRODUTOS, criação e confecção de catálogos, manuais, fichas
técnica, mídia impressa, televisiva e de rádio difusão de
qualquer natureza, correndo por sua conta as despesas daí
decorrentes, salvo se formalmente e expressamente o </SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>Cliente</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
receber autorização para proceder de forma diversa daquela aqui
prevista.</SPAN></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; text-indent: -0.89in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR"><B>4.7.</B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">	</SPAN></FONT></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Fica
eleito pelas partes de forma irrevogável e irretratável o foro da
Comarca de </SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">Itapevi
do Estado de São Paulo, Brasil,</SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">
para dirimir quaisquer dúvidas, litígio ou ação oriunda destas
condições gerais de venda, com expressa renúncia pelas partes a
qualquer outro, por mais privilegiado que seja. Para vendas ao
exterior, prevalecerão as Condições Gerais de Venda Internacional
da Convenção de Viena, com o mesmo foro e aplicação do direito
brasileiro, exclusivamente</SPAN></FONT><FONT FACE="Arial, serif"><SPAN LANG="pt-BR">.</SPAN></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.09in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.09in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 107%"><A NAME="_GoBack"></A>
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="pt-BR">Itapevi-SP,
20 de março de 2017.</SPAN></FONT></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="pt-BR">Cordialmente
</SPAN></FONT></FONT></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="pt-BR">Equipe
Sices Brasil</SPAN></FONT></FONT></FONT></P>
<P LANG="pt-BR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.09in; margin-bottom: 0in; line-height: 107%">
    <BR><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in; line-height: 107%"><BR><BR>
</P>
<DIV TYPE=FOOTER>
    <P CLASS="western" STYLE="margin-top: 0.57in; margin-bottom: 0in">
        <img src="{{ asset('assets/images/line_conditions.gif') }}" ALIGN=LEFT>
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in"><FONT COLOR="#0070c0"><FONT FACE="DIN Mittelschrift Std, serif"><SPAN LANG="pt-BR"><B>SICES
	BRASIL LTDA</B></SPAN></FONT></FONT></P>
    <P STYLE="margin-bottom: 0in"><FONT FACE="DIN Mittelschrift Std, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Avenida
                Portugal, 1174 – Condomínio Empresarial ONIX, galpão 1,2,3 e 4
                <BR>Itaqui, ITAPEVI – SP – 06696-060 – Brasil</FONT></FONT></P>
    <P STYLE="margin-bottom: 0in"><FONT FACE="DIN Mittelschrift Std, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">T
	0055 (11) 4193-2008</SPAN></FONT></FONT></P>
    <P STYLE="margin-bottom: 0in"><FONT FACE="DIN Mittelschrift Std, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US"><A HREF="http://www.sicesbrasil.com.br">www.sicesbrasil.com.br</A>
	- <A HREF="mailto:contato@sicesbrasil.com.br">contato@sicesbrasil.com.br</A>
	</SPAN></FONT></FONT>
    </P>
    <P STYLE="margin-bottom: 0in"><FONT FACE="DIN Mittelschrift Std, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">CNPJ
	17.774.501/0001-28		 SICBR_COND&amp;GAR_REV03/2017</SPAN></FONT></FONT></P>
    <P LANG="fr-FR" STYLE="margin-bottom: 0in"><BR>
    </P>
</DIV>
</BODY>
</HTML>
