{% extends view('layout') %}

{% block before_styles %}
    {% include view('helper.plugins_css') %}
{% endblock %}

{% block body %}

    <style>
        #generator_container,
        #generator_container li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
    </style>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">

                            <div id="generator_form" class="col-md-12 flow-h">
                            </div>

                            <div id="generator_components" class="col-md-12 flow-h">
                            </div>

                            <div class="hr-line-dashed col-md-12"></div>

                            <div id="generator_orders" class="col-md-12 flow-h">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.request') %}
    {% include view('helper.plugins_js') %}
    {% include view('helper.numbers') %}

    <script>

        GeneratorHandler = {
            project: {id:0,power:0},
            getProject: function(){
                return this.project;
            },
            resetProject: function(){
                this.project = {id:0,power:0};
                this.onResetProject();
            },
            getForm: function(){
                var id = this.getProject().id;
                Request.send({
                    url: '{{ path('generator',{project:'_id_'}) }}'.replace(/_id_/g, id),
                    callback: function(xhr){
                        $('#generator_form').html(xhr.responseText);
                        FormGenerator.field('source').find('option[value="power"]').attr('selected', 'selected').trigger('change');
                        var blocks = FormGenerator.form.find('.middle-block');
                        $(blocks[0]).hide();
                        $(blocks[1]).addClass('col-md-12');
                    }
                });
            },
            getComponents: function(){
                var id = this.getProject().id;
                if(id){
                    Request.send({
                        url: '{{ path('generator_components',{id:'_id_'}) }}'.replace(/_id_/g, id),
                        callback: function(xhr){
                            $('#generator_components').html(xhr.responseText);
                        }
                    });
                }
            },
            getOrders: function(){
                Request.send({
                    url: '{{ path('generator_orders') }}',
                    callback: function(xhr){
                        $('#generator_orders').html(xhr.responseText);
                    }
                });
            },
            onSaveProject: function(project){
                this.project = project;
                this.getComponents();
                this.getForm();
            },
            onResetProject: function(){
                $('#generator_components').html('');
            },
            onSaveOrder: function(){
                this.getOrders();
                this.resetProject();
                this.getForm();
            },
            init: function(){
                this.getForm();
                this.getComponents();
                this.getOrders();
            }
        };

        GeneratorHandler.init();

    </script>

{% endblock %}