{% extends view('layout') %}

{% block styles %}

    <style>
        #uploader {
            cursor: pointer;
            height: 100px;
            border: 3px dotted #787890;
        }
        #uploader .dz-preview {
            display: none;
        }
        #uploader .dz-message {
            text-align: center;
        }
        #uploader_spinner {
            margin-top: 10px;
            min-height: 30px;
            display: none;
        }
    </style>

{% endblock %}

{% block body %}

<div class="row">
    <div id="uploader" class="col-md-12">
        <div class="dz-message needsclick">
            Arraste o arquivo aqui ou clique para selecionar <br>
            <span class="note needsclick">
            (Apenas arquivos com extensão .doc ou .docx)
        </span>
        </div>
    </div>
</div>

<div class="row">
    <div id="uploader_spinner" class="col-md-12 text-center">
        <div id="loader">
        {% include view('helper.spinner') %} Enviando arquivo (<span id="percent"></span>%)
        </div>
        <div id="upload_success">
            <i class="fa fa-info-circle"></i> Arquivo enviado com sucesso!
        </div>
        <div id="upload_error">
            <i class="fa fa-info-circle"></i> Esse tipo de arquivo não pode ser enviado!
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}

    <script>
        var spinner = $('#uploader_spinner');
        var loader = spinner.find('#loader');
        var percent = spinner.find('#percent');
        var success = spinner.find('#upload_success');
        var error = spinner.find('#upload_error');

        var appUploader = new Dropzone('div#uploader', {
            url: '{{ app.request.uri }}',
            createImageThumbnails: false,
            uploadMultiple: false,
            acceptedMimeTypes: '.doc, .docx',
            init: function () {
                this.on('addedfile', function (file) {
                    success.hide();
                    error.hide();
                    loader.show();
                    spinner.show();
                });
                this.on('uploadprogress', function (file, progress, sent) {
                    percent.html(progress);
                });
                this.on('complete', function (file) {
                    percent.hide();
                    loader.hide();
                    if (file.accepted)
                        success.show();
                    else
                        error.show();
                });
            }
        });
    </script>

{% endblock %}

