<div id="after_sales_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs" id="tabContent">
                    <li><a href="#billingData" data-toggle="tab">Dados de Faturamento</a></li>
                    <li><a href="#paymentAndDelivery" data-toggle="tab">Pagamento e Entrega</a></li>
                    <li><a href="#erpData" data-toggle="tab">Dados do ERP</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="billingData">
                        Dados de Faturamento
                    </div>

                    <div class="tab-pane" id="paymentAndDelivery">
                        Pagamento e Entrega
                    </div>

                    <div class="tab-pane" id="erpData">
                        Dados do ERP
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Salvar alterações</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
