{% if not order.coupon %}

<div class="col-md-12">
    <h3>Aplicar cupom:</h3>
    <div class="form-group col-md-3">
        <label>Informar código: </label>
        <div class="input-group">
            <input type="text" id="coupon_code_input" class="form-control">
            <span class="input-group-addon" id="coupon_code_search">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>

    <div class="form-group col-md-3">
        <label>Selecionar opção: </label>
        <div class="input-group col-md-12">
            <select class="form-control" id="coupon_select" name="account">
                <option selected="selected" value="">Selecione uma das opções</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="1500">1500</option>
                <option value="2000">2000</option>
            </select>
        </div>
    </div>

    <div class="form-group col-md-5 pull-right">
        <label> &nbsp; </label>
        <button class="btn btn-success btn-block ladda-button" disabled="disabled" id="submit_coupon" data-style="zoom-in" type="submit">
            <i class="fa fa-check-circle-o"></i> Informe o código ou selecione uma opção
        </button>
    </div>
</div>

{% else %}

<div class="col-md-12">
    <h3><b>Cupom de desconto aplicado:</b></h3>
    <p><b>Código:</b> {{ order.coupon.code }}</p>
    <p><b>Valor:</b> {{ order.coupon.amount|currency }}</p>
</div>

{% endif %}


<script>
    CouponHandler = {
      couponInput: $('#coupon_code_input'),
      couponSelect: $('#coupon_select'),
      submitCoupon: $('#submit_coupon'),
      submitCouponDefaultText: "<i class=\"fa fa-check-circle-o\"></i> Informe o código ou selecione uma opção",
      couponSelectDefault: "select_default",
      responseData: null,
      validateCoupon: function () {
        this.responseData = {
          code: "AAA123",
          amount: 1000,
        };
      },
      resetCouponSelect: function () {
        this.submitCoupon.val(this.couponSelectDefault)
      },
      resetSubmitCoupon: function () {
        this.submitCoupon.attr('disabled', 'disabled');
        this.submitCoupon.html(this.submitCouponDefaultText);
      },
      resetCouponInput: function () {
        this.couponInput.val('');
      },
      activateSubmitCoupon: function (amount) {
        amount = Number(amount);
        this.submitCoupon.removeAttr('disabled');
        this.submitCoupon.html('Valor ' + numeral(amount).format('$0,0.00') + '| <i class="fa fa-check-circle-o"></i> Aplicar');
      },
      init: function () {
        this.submitCoupon.html(this.submitCouponDefaultText);
      }
    }
    CouponHandler.init();

    $('#coupon_code_search').on('click', function () {
      if (CouponHandler.couponInput.val().length > 0) {
        CouponHandler.validateCoupon();
        if (CouponHandler.responseData !== null) {
          CouponHandler.activateSubmitCoupon(CouponHandler.responseData['amount']);
          CouponHandler.resetCouponSelect();
        }
      } else {
        CouponHandler.resetSubmitCoupon();
      }
    });
    $('#coupon_select').on('change', function () {
      if (CouponHandler.couponSelect.val() !== '') {
        CouponHandler.activateSubmitCoupon(CouponHandler.couponSelect.val());
        CouponHandler.resetCouponInput();
      } else {
        CouponHandler.resetSubmitCoupon();
      }
    });
</script>
