{% extends view('layout') %}

{% block body %}
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12 flow-h">
            <div class="panel panel-info flow-lg">
                <div class="panel-heading">
                    <h3>Pedidos</h3>
                </div>
                <div class="panel-body">
                    <table id="extras_table" class="table table-condensed table-bordered col-md-12">
                        <thead>
                            <tr>
                                <th class="text-center">Integrador</th>
                                <th class="text-center">Sistemas</th>
                                <th class="col-md-1 text-center">Status</th>
                                <th class="col-md-2 text-center">Valor total</th>
                                <th class="col-md-2 text-center">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in orders if item.childrens.count %}
                            <tr>
                                <td>{{ item.account.firstName }}</td>
                                <td>Sistemas(s) de
                                    {% for element in item.childrens %}
                                    <b>{{ element.power }}</b>,
                                    {% endfor %} kWp
                                </td>
                                <td class="text-center">
                                    {% if item.status == 0 %}
                                        <span class="label label-defaut">Construção</span>
                                    {% elseif item.status == 1 %}
                                        <span class="label label-warning">Pendente</span>
                                    {% elseif item.status == 2 %}
                                        <span class="label label-primary">Validado</span>
                                    {% elseif item.status == 3 %}
                                        <span class="label label-success">Aprovado</span>
                                    {% elseif item.status == 4 %}
                                        <span class="label label-danger">Rejeitado</span>
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ item.total|currency }}</td>
                                <td>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="btn-group bt-xs">
        {{ knp_pagination_render(orders) }}
    </div>
</div>
<style>
    table tbody tr{
        display: table-row !important;
    }
</style>
{% endblock %}
