
<div class="row">
    {% for additive in additives %}
            <div class="col-md-8">
                {{ additive.description }}
                {{ additive.name }}
                <label> Associado </label>
                <input type="checkbox" {% if order.hasAdditive(additive) %}checked="checked"{% endif %}>
                {% if order.hasAdditive(additive) %}
                    {{ order.hasAdditive(additive).total }}
                {% endif %}
            </div>

    {% endfor %}
</div>
