<div id="insurances_list">
</div>

<script>
    var OrderInsurances = {
        loadInsurances: function () {
            $.ajax({
                url: '{{ path('additive_lists', {order:order.id}) }}',
                complete: function (xhr) {
                    $('#insurances_list').html(xhr.responseText);
                }
            })
        },
        init: function(){
            this.loadInsurances();
        }
    };

    OrderInsurances.init();
</script>
