<div class="row">
    <label class="form-group">Digite a quantidade de cópias desejada</label>
    <div class="input-group m-b">
        <input type="text" class="form-control quantity-cloner">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary request-copy">Copiar</button>
        </span>
    </div>
</div>

<script>
    $('.request-copy').on('click', function (event) {
        event.preventDefault();
        var quantity = $('.quantity-cloner').val();
        var url = '{{ path('sub_order_copy', {id:order.id}) }}';
        var source = '{{ source }}';

        $.ajax({
            url: url,
            data: {quantity: quantity},
            complete: function () {

                if (source == 'children') {
                    GeneratorHandler.getOrders();
                } else {
                    $('#master_close').on('click', function () {
                       window.location = '{{ path('orders') }}';
                    });
                }

            }
        });
    });

    $('.quantity-cloner').TouchSpin({
        min: 1,
        max: 10
    });
</script>
