<!-- Modal -->
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" >Gerenciamento de Tags</h4>
        </div>
        <div class="modal-body">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Criar Tag
                    </div>
                    <div class="panel-body">
                        <form id="tagForm" method="post">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="sr-only" for="tagName">Nome: </label>
                                    <input type="text" class="form-control" id="tagName" placeholder="Nome" maxlength="20" value="Tag Exemplo">
                                </div>

                                <div class="col-md-2">
                                    <label class="sr-only" for="tagInitials">Iniciais: </label>
                                    <input type="text" class="form-control" id="tagInitials" placeholder="Iniciais" maxlength="2" oninput="upperCaseF(this)" value="TE">
                                </div>

                                <div class="col-md-5">
                                    <label for="tagBackgroundColor">Cor de fundo </label>
                                    <input type="color" id="tagBackgroundColor" value="#6d747f">

                                    <label for="tagTextColor">Cor do texto: </label>
                                    <input type="color" id="tagTextColor">
                                </div>

                                <div class="col-md-2">
                                    <button id="button_tags_submit" type="submit" class="ladda-button btn btn-primary save" data-style="zoom-in">Salvar</button>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px">
                                <div class="col-md-3">
                                    <label for="tagTextColor">Preview: </label>
                                    <span id="tagPreview" class="label label-default">
                                        <font id="tagPreviewText" color="black">
                                            Nome
                                        </font>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="tags" style="padding-top: 5px"></div>
            </div>
        </div>

        <div class="modal-footer">
            <button id='closeTagsModal' type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

<script>

    function upperCaseF(a)
    {
        setTimeout(function(){
            a.value = a.value.toUpperCase();
        }, 1);
    }

    function getInitials(text) {
        var initials = "";

        if (text.length >= 2) {
            var split = text.split(' ');

            if (split.length > 1) {
                initials = split[0][0].toUpperCase() + split[1][0].toUpperCase();
            } else {
                initials = split[0][0].toUpperCase() + split[0][1].toUpperCase();
            }
        }

        return initials;
    }

    function updatePreviewStyle() {
        // INITIALS
        var initials = $('#tagInitials').val();
        $('#tagPreviewText').text(initials);

        // BACKGROUND COLOR
        var backgroundColor = $('#tagBackgroundColor').val();
        $('#tagPreview').removeAttr('style');
        $('#tagPreview').attr('style', 'background-color: ' + backgroundColor);

        // TEXT COLOR
        var textColor = $('#tagTextColor').val();
        $('#tagPreviewText').removeAttr('color');
        $('#tagPreviewText').attr('color', textColor);
    }

    var tags = $('#tags');

    function getTags() {
        $.ajax({
            url: "{{ path('get_order_tags', {id:order.id}) }}",
            success: function (response) {
                tags.html(response);
            }
        })
    }

    getTags();
    updatePreviewStyle();

    $('#tagName').on('change', function () {
        var initials = getInitials($(this).val());
        $('#tagInitials').val(initials);
        updatePreviewStyle();
    });

    $('#tagInitials').on('change', function () {
        upperCaseF($(this));
        updatePreviewStyle();
    });

    $('#tagBackgroundColor').on('change', function () {
        updatePreviewStyle();
    });

    $('#tagTextColor').on('change', function () {
        updatePreviewStyle();
    });

    $('#tagForm').on('submit', function (event) {
        event.preventDefault();

        var data = {
            'name': $('#tagName').val(),
            'initials': $('#tagInitials').val(),
            'tag_color': $('#tagBackgroundColor').val(),
            'text_color': $('#tagTextColor').val()
        };

        $.ajax({
            url: "{{ path('new_orders_tag') }}",
            data: data,
            method: 'post',
            success: function (response) {
                getTags();
            }
        })
    });

    $('#closeTagsModal').on('click', function () {
        location.reload();
    });
    
</script>
