{% extends view('layout') %}

{% block styles %}
    {% include view('signature.styles') %}
{% endblock %}

{% set user = app.user %}
{% set member = user.info %}
{% set account = member.account %}

{# Plan Settings #}
{% set main = attribute(plan.plan_items, 0) %}
{% set extra = attribute(plan.plan_items, 1) %}

{% set prices = {
    main: main.product.pricing_schema.price,
    extra: extra.product.pricing_schema.price,
    extra_discount: 0
} %}

{% set update = false %}

{% block body %}

    {% set number_users = account.activeMembers.count %}

    {% include view('signature.terms_modal') %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row" id="real-content">

            <div class="col-md-4">
                {% include view('signature.form_plan') %}
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        {{ render(controller('AppBundle:Signature:customerCreate')) }}
                    </div>
                    <div class="col-md-6">
                        {{ render(controller('AppBundle:Signature:paymentProfileCreate')) }}
                    </div>
                    <div class="col-md-12 hide">
                        {{ render(controller('AppBundle:Signature:subscriptionCreate')) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    {% include view('signature.scripts') %}
{% endblock %}