{% if componentsOutOfStock %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endif %}