<form method="post"  id="address_form" action="{{ app.request.uri }}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12 hide address" id="deliveryForm">
            </div>
        </div>

        <button class="btn btn-successpull-right hide" data-style="zoom-in" type="submit" id="address-save">
        </button>
    </div>
</form>
<script>

    var form = $('#address_form');
    var button = $('#address-save');

    $('#address_form').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            method: 'post',
            data: form.serialize(),
            success: function (xhr) {
            }
        });
    });

    Delivery = {
        deliveryModal: function () {
            $('.address').removeClass('hide');
            $('.address').removeClass('col-md-12');
            $.ajax({
                url: '{{ path('generator_delivery_address',{id: order.id}) }}',
                complete: function (xhr) {
                    $('#deliveryForm').html(xhr.responseText);
                }
            });
        }
    }

</script>

