<form method="post"  id="address_form" action="{{ app.request.uri }}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12 hide address">
                <h3> <i class="fa fa-map-marker"></i> Endereço de Entrega </h3>
                <input id="deliveryAddress" name="deliveryAddress" value="{{ order.deliveryAddress }}" type="text" class="form-control" placeholder="Endereço de Entrega">
            </div>
        </div>

        <button class="btn btn-successpull-right hide" data-style="zoom-in" type="submit" id="address-save">
        </button>
    </div>
</form>
<script>

    var form = $('#address_form');
    var button = $('#address-save');

    $('#address_form').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            method: 'post',
            data: form.serialize(),
            success: function (xhr) {
            }
        });
    });
</script>

