<style>
    #uploader {
        cursor: pointer;
        height: 100px;
        border: 3px dotted #787890;
    }
    #uploader .dz-preview {
        display: none;
    }
    #uploader .dz-message {
        text-align: center;
    }
</style>

<div class="row">
    <div id="uploader" class="col-md-12">
        <div class="dz-message needsclick">
            Arraste o arquivo aqui ou clique para selecionar <br>
            <span class="note needsclick">
            (Apenas arquivos com extensão png, jpeg ou pdf)
        </span>
        </div>
    </div>
</div>

<div style="margin-top: 10px;" class="row" id="order-files">
</div>

<script>

    var FileManager = {
        all: function(){
            $('#order-files').load('{{ path('order_files',{id:order.id, type: 'payment'}) }}');
        }
    };

    FileManager.all();

    var appUploader = new Dropzone('div#uploader', {
        url: '{{ app.request.uri }}',
        createImageThumbnails: false,
        uploadMultiple: false,
        acceptedMimeTypes: 'image/png,image/jpg,image/jpeg,application/pdf',
        init: function () {
            this.on('complete', function (file) {
                FileManager.all();
            });
        }
    });

</script>
