/* Pallet Colors */

$ui-blue-light: #00a7ec;
$ui-blue-dark: #1c84c6;
$ui-green-regular: #2cbe4e;
$ui-red-lighter: #ed5565;
$ui-gray-lighter: #f3f3f4;
$ui-gray-light: #eaecef;
$ui-gray-regular: #293846;
$ui-gray-dark: #080c17;
$ui-white-regular: #ffffff;

/* Globals Exports */
$ui-corner: 3px;
$ui-space-x: 25px;
$ui-space-y: 15px;

/* Elements Exports */
$ui-divider-color: #e7eaec;
$ui-sidebar-color: #a7b1c2;
$ui-sidebar-x: 220px;
$ui-text-main: #676a6c;
