{% extends view('layout') %}

{% set allowSingleWidgets = (member.isOwner and not member.isAdmin) %}

{% block body %}
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-12" id="widget-summary">
                {{ render(controller('AppBundle:Widget:load',{widget:'summary'})) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" id="widget-chart-proposals">
                <div class="col-md-12" style="margin-top: 12rem;">
                  {% include view('helper.spinner') %}
                </div>
            </div>
        </div>

        {% if not member.isAdmin %}

        <div class="row">

            <div class="col-lg-8" id="widget-sale-stages">
                <div class="col-md-2 col-md-offset-5 text-center" style="margin-top: 6rem;">
                    {% include view('helper.spinner') %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">
                            <i class="fa fa-bell-o"></i>
                        </span>
                        <h5> Notificações </h5>
                    </div>
                    <div class="ibox-content inspinia-timeline" id="widget-timeline">
                        {% include view('helper.spinner') %}
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.scripts') %}

    {% javascripts output='public/assets/widgets.js' filter='uglifyjs2'
        'assets/flot/jquery.flot.js'
        'assets/flot/jquery.flot.tooltip.min.js'
        'assets/flot/jquery.flot.spline.js'
        'assets/flot/jquery.flot.resize.js'
        'assets/flot/jquery.flot.pie.js'
        'assets/flot/jquery.flot.symbol.js'
        'assets/flot/jquery.flot.time.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var Widget = {
            load: function(id){
                $.ajax({
                    url: '{{ path('widget_load',{widget:'_id_'}) }}'.replace(/_id_/g, id),
                    complete: function(xhr){
                        $('#widget-'+id).html(xhr.responseText);
                    }
                });
            }
        };

        Widget.load('chart-proposals');

        {% if not member.isAdmin %}
            Widget.load('sale-stages');
            Widget.load('timeline');
        {% endif %}

    </script>

{% endblock %}

