{% extends view('layout') %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">
                        <div class="row">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="alert alert-info text-center">
                                        <h2>
                                            <i class="fa fa-info-circle"></i>
                                            <strong style="text-transform: uppercase"> Aviso </strong>
                                            <br>
                                            É necessário aceitar os termos de uso da Plataforma SICES.
                                            Favor entrar em contato com o administrador de sua conta
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
