{% extends view('layout') %}

{% block body %}
    <div  class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">
                        <div class="row">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="alert alert-info text-center">
                                        <h2>
                                            <i class="fa fa-info-circle"></i>
                                            <strong style="text-transform: uppercase"> Aviso </strong>
                                            <p>É necessário aceitar todos os termos de uso da Plataforma SICES.</p>
                                            <p>Favor entrar em contato com o administrador de sua conta.</p>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
