{% extends view('layout') %}

{% block body %}
    <style>
    </style>

    <div class="modal inmodal fade" id="e_modal_details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="detail_kit"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div id="cart_items" class="row"></div>
    </div>

{% endblock %}
{% block scripts %}
    {% include view('helper.request') %}
    {% include view('helper.plugins_js') %}

    <script>
        function loadItemsCart() {
            $.ajax({
                url: "{{ path('cart_items', {id:cart.id}) }}",
                success: function (response) {
                    $('#cart_items').html(response);
                }
            });
        }

        loadItemsCart();
    </script>
{% endblock %}
