/* Pallet Colors */
$ui-blue-lighter: #bce8f1;
$ui-blue-light: #00a7ec;
$ui-blue-dark: #1c84c6;
$ui-blue-darken: #337ab7;
$ui-green-regular: #2cbe4e;
$ui-red-lighter: #ed5565;
$ui-red-light: #ea394c;
$ui-red-dark: #ed0a20;
$ui-gray-lighter: #f3f3f4;
$ui-gray-light: #d7d7d8;
$ui-gray-regular: #919396;
$ui-gray-dark: #293846;
$ui-gray-darken: #080c17;
$ui-orange-light: #f8ac59;
$ui-white-regular: #ffffff;

/* Globals Exports */
$ui-corner: 3px;
$ui-space-x: 25px;
$ui-space-y: 15px;
$ui-size-xs: 320px;
$ui-size-sm: 480px;
$ui-size-md: 768px;
$ui-size-lg: 992px;
$ui-size-xl: 1200px;

/* Elements Exports */
$ui-font-family-main: "Open Sans", "Helvetica Neue", sans-serif;
$ui-font-size-main: 13px;
$ui-action-y: 35px;
$ui-divider-color: #e7eaec;
$ui-mainbar-y: 65px;
$ui-mainbar-mobile-y: 45px;
$ui-tabbar-mobile-y: 50px;
$ui-sidebar-color: #a7b1c2;
$ui-sidebar-common-x: 220px;
$ui-sidebar-collapse-x: 65px;
$ui-sidebar-toogle-x: 40px;
$ui-text-main: #676a6c;

/* Media queries */
$small-device: 768px;

:export {
  ui-space-x: $ui-space-x;
  ui-space-y: $ui-space-y;
  ui-size-xs: $ui-size-xs;
  ui-size-sm: $ui-size-sm;
  ui-size-md: $ui-size-md;
  ui-size-lg: $ui-size-lg;
  ui-size-xl: $ui-size-xl;
}
