
<input class="form-control" placeholder="Filtrar" id="filter_files">

<table class="table" data-page-size="5" data-filter="#filter_files" id="table_files">
    <thead>
        <tr>
            <th> Nome </th>
            <th> Data </th>
            <th> &nbsp; </th>
        </tr>
    </thead>
    <tbody>

        {% for file in files %}

            <tr data-file="{{ {id:file.id, name:file.filename, size:[(file.size/1024)|round,'K']|join}|json_encode }}">
                <td> {{ file.filename }} </td>
                <td class="col-md-3"> {{ file.mTime|date('d/m/Y H:i:s') }} </td>
                <td class="col-md-2">
                    <div class="btn-group btn-group-sm btn-group-justified">
                        <a class="btn btn-default btn-attach"> <i class="fa fa-paperclip"></i> Anexar </a>
                    </div>
                </td>
            </tr>

        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <ul class="pagination pagination-centered"></ul>
            </td>
        </tr>
    </tfoot>
</table>

<script>

    //console.log(attachments);
    var table_files = $('#table_files');

    $.each(table_files.find('tr[data-file]'), function(i, row){
        var file = $(row).data('file');
        var btn_attach = $(row).find('.btn-attach');
        $.each(attachments, function(j, attachment){
            if(attachment.id == file.id){
                btn_attach.addClass('disabled');
            }
        });
    });

    table_files.footable();
    var attachments_area = $('#email_compose_attachments');
    $('.btn-attach').on('click', function(){
        attachments[attachments.length] = JSON.parse($(this).closest('tr').attr('data-file'));
        refresh_attachments();
        $(this).addClass('disabled');
    });
</script>