<div class="button-group" id="filter-state">
    <button
            type="button"
            class="form-control selected dropdown-toggle"
            data-toggle="dropdown">
        Estado
        <span id="quantity"></span>
        <span class="caret"></span>
    </button>
    {% set quantity = 0 %}
    <ul class="dropdown-menu"  style="max-height: 250px; overflow: auto">
        {% for key, state in states %}
            <li>
                <a href="#" class="small" data-value="{{ key }}" tabIndex="-1">
                    <input value="{{ key }}" type="checkbox" {% if state.checked %}checked{% set quantity = quantity + 1 %}{% endif %}>
                    {{ state.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<script>

    var quantity = {{ quantity }};
    if (quantity)
        $('#quantity').html('('+quantity+')');

    function StateFilter(form_filtration) {

      var filter_state = $('#filter-state');

      form_filtration.append($('<input type="hidden" name="states"/>').val(getStates()));

      $filterStatesHasChanges = false;

      function getStates() {
        var options = $('#filter-state .dropdown-menu a');
        var states = [];

        Array
          .from(options)
          .forEach(function (option) {
            var key = option.getAttribute('data-value');
            var checked = option.querySelector('input').checked;

            if (checked) {
              states.push(key);
            }
          });

        return states;
      }

      function filterStates() {
        $('#filter-state .dropdown-menu').on('click', function(event) {
          $filterStatesHasChanges = true;
          event.stopPropagation();
        });

        $(document).one('click', function(event) {
          document.removeEventListener('click', filterStates);

          if ($filterStatesHasChanges) {
            $('input[name="states"]').val(getStates());
            form_filtration.trigger('submit');
            $filterStatesHasChanges = false;
          }
        });
      }

      filter_state.on('click', function() {
        document.addEventListener('click', filterStates);
      });
    }
</script>
