{% extends view('layout') %}

{% block body %}

    <div class="row">
        <div class="col-md-12" id="products">
            {% include view('helper.spinner') %}
        </div>
    </div>

{% endblock %}


{% block scripts %}

    {% include view('helper.request') %}

    <script>

        var spinner = $('#products').html();

        var PlatformMemorial = {
            request: function(config){

                var options = $.extend({},{
                    url: null,
                    method: 'get',
                    data: {}
                }, config);

                Request.send(options);
            },
            getRanges: function(){
            },
            getMemorials: function() {

                $('#products').html(spinner);

                this.request({
                    url: '{{ path('platform_products',{memorial: app.request.query.get('memorial')}) }}',
                    callback: function(xhr){
                        $('#products').html(xhr.responseText);
                    }
                });
            },
            init: function(){
                this.getMemorials();
            }
        };

        PlatformMemorial.init();

    </script>

{% endblock %}
