
<div class="">
<table class="table">

    {% for module in modules %}

        <tr class="" data-request="#">
            <td> {{ module.code }} </td>
            <td>
                <a href="#">
                {{ module.description }}
                </a>
            </td>
        </tr>

    {% endfor %}

</table>
</div>
