{% extends view('layout') %}

{% block body %}
    {% set structures = pagination.items %}
<style>
    .product-imitation {
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: center !important;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">

        {% include view('structure.script_index') %}
        {% include view('structure.index_content') %}
</div>
{% endblock %}
