<script>
    $(function () {

        var detail_structure = $('#detail_structure');
        var detail_spinner = detail_structure.html();
        $('[data-target="#modal_details"]').on('click', function(){
            var url = $(this).data('url');
            if (url) {
                $('#e_modal_details').modal('show');
                detail_structure.html(detail_spinner);
                $.ajax({
                    url: url,
                    method: 'get',
                    success: function (response) {
                        detail_structure.html(response);
                    }
                });
            } else {
                detail_structure.html('<h1> Nenhum componente selecionado para visualização </h1>');
            }
        });

        var dataDelete = $('[data-delete]');
        if(dataDelete.length){
            dataDelete.on('click', function () {
                var url = $(this).data('delete');
                swal({
                    title: "Confirma exclusão desta estrutura?",
                    text: null,
                    type: "info",
                    showCancelButton: true,
                    cancelButtonText: "{{ 'Cancel'|trans }}",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{{ 'Confirm'|trans }}",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: url,
                        method: 'post',
                        data: {_method:'delete'},
                        complete: function (xhr) {
                            console.log(xhr.responseJSON);
                            if (200 == xhr.status) {
                                swal("", xhr.responseJSON['message'], "success");
                                window.setTimeout(function(){
                                    location.reload();
                                    swal.close();
                                }, 1000);
                            } else {
                                swal("Oops!", xhr.responseJSON['message'], "error");
                            }
                        },
                        beforeSend: function () {
                            swal({
                                title: "Excluindo...",
                                text: "Aguarde",
                                type: "info",
                                showConfirmButton: false
                            });
                        }
                    });
                });
            });
        }
    });
</script>
