.btn-primary {
    background-color: #F8A41A;
    border-color: #F8A41A;
    color: #fff;
}

.btn-primary:hover, .btn-group>.btn:hover{

    background-color: #f0c674;
    border-color: #f0c674;
    color: #fff;

}

.btn-default.active {
    background-color: #F8A41A;
    border-color: #F8A41A;
    color: #fff;
}

.label-info {
    background-color: #F8A41A;
    color: #fff;
}

.label-success {
    background-color: #00A7EC;
}

.nav>li.active {
    border-left: 4px solid #F8A41A;
    background: #293846;
}

.sk-spinner-circle .sk-circle:before {
    background-color: #F8A41A;

}





