{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ register is defined and register.isInit ? 'Criar uma conta' : 'Concluir registro' }}
{% endblock %}

{% block fos_user_content %}

    <h2> Desculpe. <br> {{ message }}. </h2>

    <p>
        <a href="{{ path('fos_user_security_login') }}">
            Voltar para o início
        </a>
    </p>

{% endblock %}