{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ register is defined and register.isInit ? 'Criar uma conta' : 'Concluir registro' }}
{% endblock %}

{% block fos_user_content %}

<<<<<<< HEAD
    <!-- Pré-Registro Dados -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-lg-12 ibox-content">
                <div class="ibox float-e-margins">
                    <form method="get" class="form-horizontal">

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">CNPJ </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="CNPJ:">
                                </div>
=======
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Salvar</button>
    {{ form_end(form) }}
>>>>>>> d3ad08ef4deb99c3997180f270ab4355712e85b1

                                <label class="col-sm-2 control-label">Inscrição Estadual </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Inscrição Estadual:">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Razão Social </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Razão Social" :">
                                </div>

                                <label class="col-sm-2 control-label">Nome-Fantasia </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Nome Fantasia:">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Contato </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Contato: ">
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Email </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Email: ">
                                </div>

                                <label class="col-sm-2 control-label">Telefone </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Telefone: ">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


            <!-- Pré-Registro Endereços -->
            <div class="col-lg-12 ibox-content">
                <div class="ibox float-e-margins">
                    <form method="get" class="form-horizontal">
                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-1 control-label">CEP</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="CEP:">
                                </div>

                                <label class="col-sm-1 control-label">Estado </label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="Estado:">
                                </div>
                                <label class="col-sm-1 control-label">Cidade </label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="Cidade:">
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Bairro </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Bairro:">
                                </div>

                                <label class="col-sm-2 control-label">Logradouro: </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Rua :">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Número </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Número: ">
                                </div>

                            </div>
                        </div>  <!-- cep, estado, cidade,  bairro,lagradouro,  numero -->

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.middle-box').removeClass('middle-box');
        });
    </script>
{% endblock %}