<style>
    .shadow {
        background-color: #eee;
        border-radius: 4px;
        -webkit-box-shadow: 2px 2px 2px #bbb;
        -moz-box-shadow:    2px 2px 2px #bbb;
        box-shadow:         2px 2px 2px #bbb;
    }
    .margin-bottom {
        margin-bottom: 15px;
    }
    .aling-right {
        text-align: right;
    }

    .name {
        color: #00a7ec;
    }
    .border-message {
        border: solid #C7C7C7 1px;
    }
    .delete-message {
        cursor: pointer;
    }
</style>

<div id="list_messages">
</div>

<div style="border-bottom: solid 1px #c7c7c7; " class="col-md-12 margin-bottom"></div>

<form action="{{ path('order_message',{id:order.id}) }}" method="post" id="form_order_message" class="col-md-10 pull-right">
    <textarea  id="message" class="form-control margin-bottom" placeholder="Mensagem" ></textarea>
    <button type="submit" class="btn btn-success pull-right" ><i class="fa fa-send"></i> Enviar</button>
</form>

<script>

    Message = {
        form: $('#form_order_message'),
        message: $('#message'),
        listMessages: $('#list_messages'),
        loaded: true,
        loadMessages: function () {
            $.ajax({
                url: '{{ path('order_message', {id:order.id}) }}',
                method: 'GET',
                complete: function (xhr) {
                    Message.listMessages.html(xhr.responseText);
                    Message.loaded = true;
                }
            });
        },
        send: function () {
            $.ajax({
                url: Message.form.attr('action'),
                method: 'POST',
                data: {message: Message.message.val()},
                complete: function (xhr) {
                    Message.listMessages.html(xhr.responseText);
                    Message.sendEmail();
                    Message.message.val('');
                }
            });
        },
        sendEmail: function () {

            $.ajax({
                url: '{{ path('message_email', {id:order.id}) }}',
                method: 'GET'
            });
        },
        init: function () {
            this.loadMessages();

            $('#form_order_message').on('submit', function (event) {
                event.preventDefault();
                if(Message.message.val().replace( /\s/g, '' ))
                    Message.send();
                else {
                    Message.message.val('');
                }
            });

            setInterval(function () {
                if (Message.loaded) {
                    Message.loadMessages();
                    Message.loaded = false;
                }
            }, 10000);
        }
    };

    Message.init();

</script>
