

<style>
    .shadow {
        -webkit-box-shadow: 7px 5px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    7px 5px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         7px 5px 5px rgba(50, 50, 50, 0.77);
    }
    .margin-bottom {
        margin-bottom: 15px;
    }
    .aling-right {
        text-align: right;
    }

    .name {
        color: #00a7ec;
    }
    .border-message {
        border: solid #C7C7C7 1px;
    }

</style>

<div id="list_messages">
    {% set thisUser = 1 %}
    {% set isPlatform = 0 %}
    {% for message in messages %}

        <div class="col-md-10 margin-bottom shadow border-message {% if thisUser %}pull-right{% endif %}">

            <div class="header col-md-12">
                <span class="{% if not thisUser %}pull-right{% endif %}" style="font-size: 10px;">7/10/17 13:48</span>
                <span class="name {% if thisUser %}pull-right{% endif %}">
                Fabio
                    {% if thisUser and isPlatform %}
                        <button class="btn label label-danger" data-message="">Excluir</button>
                    {% endif %}
            </span>
            </div>


            <div class="content {% if thisUser %}pull-right aling-right{% endif %}">
                Conteudo da mesagem
            </div>

        </div>

    {% endfor %}

    {% set thisUser = 0 %}
    {% set isPlatform = 0 %}

    <div class="col-md-10 margin-bottom shadow border-message {% if thisUser %}pull-right{% endif %}">

        <div class="header col-md-12">
            <span class="{% if not thisUser %}pull-right{% endif %}" style="font-size: 10px;">7/10/17 13:48</span>
            <span class="name {% if thisUser %}pull-right{% endif %}">
            Fabio
                {% if thisUser and isPlatform %}
                    <button class="btn label label-danger" data-message="">Excluir</button>
                {% endif %}
        </span>
        </div>


        <div class="content {% if thisUser %}pull-right aling-right{% endif %}">
            Conteudo da mesagem
        </div>

    </div>


</div>


<div style="border-bottom: solid 1px #c7c7c7; " class="col-md-12 margin-bottom"></div>

<form action="{{ path('generator_order_message',{id:order.id}) }}" method="post" id="form_order_message" class="col-md-10 pull-right">
    <textarea  id="order_message" class="form-control margin-bottom" placeholder="Mensagem" >{{ order.message }}</textarea>

    <button type="submit" class="btn btn-success pull-right" ><i class="fa fa-send"></i> Enviar</button>
</form>

<script>

    $.ajax({
        url: '{{ path('debug_order_message', {id:order.id}) }}',
        method: 'get',
        complete: function (xhr) {
            $('#panel_messages').html(xhr.responseText);
        }
    });

     /*GeneratorHandler.message.on('focus', function () {
     GeneratorHandler.message.removeAttr('readonly');
     });

     GeneratorHandler.message.on('blur', function () {
     GeneratorHandler.message.attr('readonly','readonly')
     });*/

     $('#form_order_message').on('submit', function (event) {
         event.preventDefault();

         var form = $('#form_order_message');
         var data = $('#order_message').val();

         $.ajax({
             url: form.attr('action'),
             method: 'post',
             data: {message: data},
             complete: function (xhr) {
                // console.log(xhr);
                 $('#list_messages').html(xhr.responseText);
             }
         });
     });



</script>
