    {% for message in messages %}
        {% set isPlatform = message.author.user.isPlatform %}
        {% set thisUser = message.author.user.id == app.user.id  %}

        <div class="col-md-10 margin-bottom shadow border-message {% if isPlatform %}pull-right{% endif %}">
            <div class="header">
                <span class="{% if not isPlatform %}pull-right{% endif %}" style="font-size: 10px;">{{ message.createdAt|date('d/m/Y H:i') }}</span>
                <span class="{% if isPlatform %}pull-right{% endif %}">
                    <span class="name">{{ message.author.firstname }}</span>
                    {% if thisUser and isPlatform %}
                        - <i class="fa fa-times-circle delete-message" data-delete-message="{{ path('order_message_delete', {id:order.id, message:message.id})}}"></i>
                    {% endif %}
                </span>
            </div>

            <div class="content {% if isPlatform %}pull-right aling-right{% endif %}">
                {{ message.content }}
            </div>
        </div>

    {% endfor %}

<script>

    $('[data-delete-message]').on('click', function () {

        var url = $(this).data('delete-message');

        swal({
            title: 'Confirma a exclusão?',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: 'Confirmar',
            cancelButtonText: 'Cancelar',
            closeOnConfirm: false
        }, function () {

            $.ajax({
                url: url,
                method: 'delete',
                data: {_method: 'delete'},
                complete: function (xhr) {

                    if (200 == xhr.status) {

                        swal({
                            title: "Concluído",
                            text: "Exclusão realizada com sucesso.",
                            type: "success",
                            showConfirmButton: false
                        });

                        window.setTimeout(function () {
                            swal.close();
                            Message.loadMessages();
                        }, 1000);

                    } else {
                        var response = xhr.responseJSON;
                        swal('Ooops', response.hasOwnProperty('error') ? response.error : 'Falha na exclusão', 'error');
                    }
                },
                beforeSend: function () {
                    swal({
                        title: 'Excluindo...',
                        text: 'Aguarde',
                        type: 'info',
                        showConfirmButton: false
                    });
                }
            });
        });
    });
</script>

