{#
<style>
    .photographer .btn-xs{
        text-transform: uppercase;
    }
    .photographer .pictured{
        text-align: center;
    }
    .photographer .pictured img{
        width: 200px;
        max-height: 200px;
        margin-top: 10px;
    }
</style>

{% set attr = {'id':[helper,'-picture']|join, 'class':'img-circle'} %}

<div class="photographer">
    <div class="row">
        <a class="btn btn-xs btn-default btn-outline"
           style="width: 100%"
           data-toggle="modal"
           data-helper="{{ helper }}"
           data-target="#dropzone_modal">
            <i class="fa fa-photo"></i>
            {{ 'Define Image'|trans }}
        </a>
    </div>
    <div class="row pictured">
        {{ picture(source, 'medium', attr) }}
    </div>
</div>
#}