<div class="row">
    <div class="col-md-12">
        <div class="ibox flow-h">
            <div class="ibox-title" style="">
                <span class="pull-left">
                    <h4>
                        Controle de estoque por família
                    </h4>
                </span>
            </div>
            <div class="ibox-content">
                <div class="col-md-offset-5">
                    <form id="stock_control_families_form">
                        {% for family in families %}
                            <div class="row">
                                <input type="checkbox" name="stock_control_families[]" value="{{ family }}">
                                <label for="families">{{ family|trans }}</label>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('assets/toastr/toastr.min.js') }}"></script>

<script>
    $('#stock_control_families_form').on('change', function () {
        var form = $(this);

        $.ajax({
            url: "{{ path('families_stock') }}",
            method: "post",
            data: form.serialize(),
            complete: function (response) {
                toastr.success('Controle de estoque por família atualizado com sucesso!', '', {
                    positionClass: 'toast-top-center',
                    progressBar: true,
                    preventDuplicates: true
                });
            }
        })
    });
</script>